#main{
    width: 500px;
    height: 70px;
    background-color: pink;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.matched {
    color: green;
    font-weight: bold;
}